@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-primary: #c92071;
  --color-secondary: #b5b6f2;
  --color-tertiary: #991956;
  --color-error: #ee4266;
  --color-success: #52ca76;
  --color-warning: #f6aa1c;

  /* Grayscale */
  --color-dark-gray: #1f1f1f;
  --color-dark-gray-2: #474747;
  --color-dark-gray-3: #666666;
  --color-light-gray: #8f8f8f;
  --color-light-gray-2: #cccccc;
  --color-light-gray-3: #f5f5f5;
  --color-white: #ffffff;

  /* Blues */
  --color-blue: #2962ff;
  --color-blue-light: #ebf0ff;

  /* Greens */
  --color-green: #00875f;
  --color-green-light: #e6f8f0;

  --font-inter: 'Inter', sans-serif;
}
